body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7e9;
    color: #003366;
}

header {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

main {
    padding: 20px;
}

#atualizacoes {
    background-color: #b3e5fc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}